<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Provo Mental Health Initiative</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
            rel="stylesheet"
            type="text/css"
        />
        <!-- Google fonts-->
        <link
            href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
            rel="stylesheet"
            type="text/css"
        />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body onload="loggedIn();">
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="/"
                    ><img
                        src="/assets/img/provo welcome.png"
                        height="100"
                        alt="Welcome Provo Icon"
                /></a>
                <div>
                    <div style="display: flex">
                        <a class="btn btn-secondary" href="/"
                        >Home</a
                    >
                    <a class="btn btn-secondary" href="dashboard"
                        >Dashboard</a
                    >
                        <a
                            id="createacc"
                            style="display: none; margin-right: 10px"
                            class="btn btn-warning"
                            href="register"
                            >Create New Account</a
                        >
                        <form action="/showUsers" method="GET">
                            <button
                            type="submit"
                            style="display: none; margin-right: 10px"
                            class="btn btn-warning"
                            id = "btnUsers"
                            >View User Records</button
                            >
                        <form action="/" method="GET">
                            <button
                                type="submit"
                                style="display: none"
                                class="btn btn-primary"
                                onclick="localStorage.clear();"
                                id="btnLogout"
                            ></button>
                        </form>
                        <a class="btn btn-primary" href="login" id="loginhref"
                            >Login</a
                        >
                    </div>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead" id="Login">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Mental Health Survey</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <div style="background-color: #a9d7e9;" class="features-icons">
        <!--Survey-->
        <div class="master-div-style">
            <div id="survey">
                <!--Personal Info-->
                <h3 class="text-center" style="padding-bottom: 20px;">Personal Information</h3>
                <form action="/addRecord" method="POST" id="surveyForm">
                    <div class="form-rows">
                        <div class="labels">
                            <label for="iAge">What is your age?</label>
                        </div>
                        <div class="fields">
                            <select id="iAge" name="iAge" class="dropdowncustom">
                                <option value="" disabled selected>
                                    -- Select a number --
                                </option>
                            <script>
                                for (let i = 1; i <= 100; i++) {
                                    document.write(
                                        `<option value="${i}">${i}</option>`
                                    );
                                }
                            </script>
                            </select>
                        </div>
                    </div>

                    <div class="form-rows">
                        <div class="labels">
                            <label>What is your gender?</label>
                        </div>
                        <div class="fields" style="padding-top: 15px;">
                            <ul style="list-style: none;">
                                <li class="radio">
                                    <input
                                        type="radio"
                                        id="rbMale"
                                        name="sGender"
                                        value="Male"
                                    />
                                    <label>Male</label>
                                </li>
                                <li class="radio">
                                    <input
                                        type="radio"
                                        id="rbFemale"
                                        name="sGender"
                                        value="Female"
                                    />
                                    <label for="rbFemale">Female</label>
                                </li>
                                <li class="radio">
                                    <input
                                        type="radio"
                                        id="rbOther"
                                        name="sGender"
                                        value="Other"
                                    />
                                    <label for="rbOther">Other</label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-rows">
                        <div class="labels">
                            <label>What is your relationship status?</label>
                        </div>
                        <div class="fields" style="padding-top: 15px;">
                            <ul style="list-style: none;">
                                <li class="radio">
                                    <input
                                        type="radio"
                                        id="rbSingle"
                                        name="sRelationship"
                                        value="Single"
                                    />
                                    <label for="rbSingle">Single</label>
                                </li>
                                <li class="radio">
                                    <input
                                        type="radio"
                                        id="rbDating"
                                        name="sRelationship"
                                        value="Dating"
                                    />
                                    <label for="rbDating">In a relationship</label>
                                </li>
                                <li class="radio">
                                    <input
                                        type="radio"
                                        id="rbMarried"
                                        name="sRelationship"
                                        value="Married"
                                    />
                                    <label for="rbMarried">Married</label>
                                </li>
                                <li class="radio">
                                    <input
                                        type="radio"
                                        id="rbDivorced"
                                        name="sRelationship"
                                        value="Divorced"
                                    />
                                    <label for="rbDivorced">Divorced</label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-rows">
                        <div class="labels">
                            <label>What is your current occupation?</label>
                        </div>
                        <div class="fields" style="padding-top: 17px;">
                            <ul style="list-style: none;">
                                <li class="radio">
                                    <input
                                        type="radio"
                                        id="rbSStudent"
                                        name="sOccupation"
                                        value="School Student"
                                    />
                                    <label for="rbSStudent">School Student</label><br />
                                </li>
                                <li class="radio">
                                    <input
                                        type="radio"
                                        id="rbUStudent"
                                        name="sOccupation"
                                        value="University Student"
                                    />
                                    <label for="rbUStudent">University Student</label><br />
                                </li>
                                <li class="radio">
                                    <input
                                        type="radio"
                                        id="rbWorker"
                                        name="sOccupation"
                                        value="Salaried Worker"
                                    />
                                    <label for="rbWorker">Salaried Worker</label><br />
                                <li class="radio">
                                    <input
                                        type="radio"
                                        id="rbRetired"
                                        name="sOccupation"
                                        value="Retired"
                                    />
                                    <label for="rbRetired">Retired</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-rows">
                        <div class="labels">
                            <label>What type organization are you affiliated with?</label>
                        </div>
                        <div class="fields" style="padding-top: 17px;">
                            <ul style="list-style: none;">
                                <li class="radio">
                                    <input
                                    type="checkbox"
                                    id="cbUniversity"
                                    name="sOrganization"
                                    value="5"
                                    />
                                    <label for="cbUniversity">University</label><br />
                                </li>
                                <li class="radio">
                                    <input
                                        type="checkbox"
                                        id="cbSchool"
                                        name="sOrganization"
                                        value="4"
                                    />
                                    <label for="cbSchool">School</label><br />
                                </li>
                                <li class="radio">
                                    <input
                                        type="checkbox"
                                        id="cbCompany"
                                        name="sOrganization"
                                        value="1"
                                    />
                                    <label for="cbCompany">Company</label><br />
                                </li>
                                <li class="radio">
                                    <input
                                        type="checkbox"
                                        id="cbPrivate"
                                        name="sOrganization"
                                        value="2"
                                    />
                                    <label for="cbPrivate">Private</label><br />
                                </li>
                                <li class="radio">
                                    <input
                                        type="checkbox"
                                        id="cbGov"
                                        name="sOrganization"
                                        value="3"
                                    />
                                    <label for="cbGov">Government</label><br />
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--Social Media Info-->
                    <h3 class="text-center" style="padding-top: 75px; padding-bottom: 20px;">Social Media</h3>
                    <div class="form-rows">
                        <div class="labels">
                            <label>Do you use social media?</label>
                        </div>
                        <div class="fields" style="padding-top: 17px;">
                            <ul style="list-style: none;">
                                <li class="radio">
                                    <input type="radio" id="rbYes" name="UseSM" value="Y" />
                                    <label for="rbYes">Yes</label><br />
                                </li>
                                <li class="radio">
                                    <input type="radio" id="rbNo" name="UseSM" value="N" />
                                    <label for="rbNo">No</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-rows">
                        <div class="labels">
                            <label>What social media do you use?</label>
                        </div>
                        <div class="fields" style="padding-top: 17px;">
                            <ul style="list-style: none;">
                                <li class="radio">
                                    <input
                                        type="checkbox"
                                        id="cbFacebook"
                                        name="socialmediatypes"
                                        value="3"
                                    />
                                    <label for="cbFacebook">Facebook</label><br />
                                </li>
                                <li class="radio">
                                    <input
                                        type="checkbox"
                                        id="cbTwitter"
                                        name="socialmediatypes"
                                        value="9"
                                    />
                                    <label for="cbTwitter">Twitter</label><br />
                                </li>
                                <li class="radio">
                                    <input
                                        type="checkbox"
                                        id="cbInstagram"
                                        name="socialmediatypes"
                                        value="4"
                                    />
                                    <label for="cbInstagram">Instagram</label><br />
                                </li>
                                <li class="radio">
                                    <input
                                        type="checkbox"
                                        id="cbYouTube"
                                        name="socialmediatypes"
                                        value="8"
                                    />
                                    <label for="cbYouTube">YouTube</label><br />
                                </li>
                                <li class="radio">
                                    <input
                                        type="checkbox"
                                        id="cbDiscord"
                                        name="socialmediatypes"
                                        value="1"
                                    />
                                    <label for="cbDiscord">Discord</label><br />
                                </li>
                                <li class="radio">
                                    <input
                                        type="checkbox"
                                        id="cbReddit"
                                        name="socialmediatypes"
                                        value="2"
                                    />
                                    <label for="cbReddit">Reddit</label><br />
                                </li>
                                <li class="radio">
                                    <input
                                        type="checkbox"
                                        id="cbPinterest"
                                        name="socialmediatypes"
                                        value="5"
                                    />
                                    <label for="cbPinterest">Pinterest</label><br />
                                </li>
                                <li class="radio">
                                    <input
                                        type="checkbox"
                                        id="cbSnapchat"
                                        name="socialmediatypes"
                                        value="7"
                                    />
                                    <label for="cbSnapchat">Snapchat</label><br />
                                </li>
                                <li class="radio">
                                    <input
                                        type="checkbox"
                                        id="cbTikTok"
                                        name="socialmediatypes"
                                        value="6"
                                    />
                                    <label for="cbTikTok">TikTok</label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-rows">
                        <div class="labels">
                            <label
                                >What is the average time you spend on social media
                                every day?</label
                            >
                        </div>
                        <div class="fields">
                            <select name="avgTime" id="avgTime" class="dropdowncustom">
                                <option value="" disabled selected>
                                    -- Choose an option --
                                </option>
                                <option value="less">Less than an hour</option>
                                <option value="oneTwo">
                                    Between 1 and 2 hours
                                </option>
                                <option value="twoThree">
                                    Between 2 and 3 hours
                                </option>
                                <option value="threeFour">
                                    Between 3 and 4 hours
                                </option>
                                <option value="fourFive">
                                    Between 4 and 5 hours
                                </option>
                                <option value="more">More than 5 hours</option>
                            </select>
                        </div>
                        <!--Mental Health Info-->
                        <h6 style="padding-top: 75px;">
                            The following questions will ask you about different
                            aspects of your mental health at this time.
                        </h6>
                        <h6>
                            Please answer on a scale of 1-5 with 1 being low in
                            occurance and 5 signifying this is something you
                            struggle with often.
                        </h6>
                        <div class="form-rows">
                            <div class="labels">
                                <label for="iPurpose"
                                    >How often do you find yourself using Social media
                                    without a specific purpose?</label
                                >
                            </div>
                            <div class="fields">
                                <select id="iPurpose" name="iPurpose" class="dropdowncustom">
                                    <option value="" disabled selected>
                                        -- Select a number --
                                    </option>
                                    <script>
                                        for (let i = 1; i <= 5; i++) {
                                            document.write(
                                                `<option value="${i}">${i}</option>`
                                            );
                                        }
                                    </script>
                                </select>
                            </div>
                        </div>
                        <div class="form-rows">
                            <div class="labels">
                                <label for="iDistracted"
                                    >How often do you get distracted by Social media
                                    when you are busy doing something?</label
                                >
                            </div>
                                <select id="iDistracted" name="iDistracted" class="dropdowncustom">
                                    <option value="" disabled selected>
                                        -- Select a number --
                                    </option>
                                    <script>
                                        for (let i = 1; i <= 5; i++) {
                                            document.write(
                                                `<option value="${i}">${i}</option>`
                                            );
                                        }
                                    </script>
                                </select>
                            </div>
                        </div>
                        <div class="form-rows">
                            <div class="labels">
                                <label for="iRestless"
                                    >Do you feel restless if you haven't used Social
                                    media in a while?</label
                                >
                            </div>
                            <div class="fields">
                                <select id="iRestless" name="iRestless" class="dropdowncustom">
                                    <option value="" disabled selected>
                                        -- Select a number --
                                    </option>
                                    <script>
                                        for (let i = 1; i <= 5; i++) {
                                            document.write(
                                                `<option value="${i}">${i}</option>`
                                            );
                                        }
                                    </script>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-rows">
                            <div class="labels">
                                <label for="iEasily"
                                    >How easily distracted are you?</label
                                >
                            </div>
                            <div class="fields">
                                <select id="iEasily" name="iEasily" class="dropdowncustom">
                                    <option value="" disabled selected>
                                        -- Select a number --
                                    </option>
                                    <script>
                                        for (let i = 1; i <= 5; i++) {
                                            document.write(
                                                `<option value="${i}">${i}</option>`
                                            );
                                        }
                                    </script>
                                </select>
                            </div>
                        </div>

                        <div class="form-rows">
                            <div class="labels">
                                <label for="iBothered"
                                    >How much are you bothered by worries?</label
                                >
                            </div>
                            <div class="fields">
                                <select id="iBothered" name="iBothered" class="dropdowncustom">
                                    <option value="" disabled selected>
                                        -- Select a number --
                                    </option>
                                    <script>
                                        for (let i = 1; i <= 5; i++) {
                                            document.write(
                                                `<option value="${i}">${i}</option>`
                                            );
                                        }
                                    </script>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-rows">
                            <div class="labels">
                                <label for="iConcentrate"
                                    >Do you find it difficult to concentrate on
                                    things?</label
                                >
                            </div>
                            <div class="fields">
                                <select id="iConcentrate" name="iConcentrate" class="dropdowncustom">
                                    <option value="" disabled selected>
                                        -- Select a number --
                                    </option>
                                    <script>
                                        for (let i = 1; i <= 5; i++) {
                                            document.write(
                                                `<option value="${i}">${i}</option>`
                                            );
                                        }
                                    </script>
                                </select>
                            </div>
                        </div>

                        <div class="form-rows">
                            <div class="labels">
                                <label for="iCompare"
                                    >How often do you compare yourself to other
                                    successful people through the use of social
                                    media?</label
                                >
                            </div>
                            <div class="fields">
                                <select id="iCompare" name="iCompare" class="dropdowncustom">
                                    <option value="" disabled selected>
                                        -- Select a number --
                                    </option>
                                    <script>
                                        for (let i = 1; i <= 5; i++) {
                                            document.write(
                                                `<option value="${i}">${i}</option>`
                                            );
                                        }
                                    </script>
                                </select>
                            </div>
                        </div>

                        <div class="form-rows">
                            <div class="labels">
                                <label for="iFeel"
                                    >In reference to the previous question, how do you
                                    feel about these comparisons, generally
                                    speaking?</label
                                >
                            </div>
                            <div class="fields">
                                <select id="iFeel" name="iFeel" class="dropdowncustom">
                                    <option value="" disabled selected>
                                        -- Select a number --
                                    </option>
                                    <script>
                                        for (let i = 1; i <= 5; i++) {
                                            document.write(
                                                `<option value="${i}">${i}</option>`
                                            );
                                        }
                                    </script>
                                </select>
                            </div>
                        </div>

                        <div class="form-rows">
                            <div class="labels">
                                <label for="iValidation"
                                    >How often do you look to seek validation from
                                    features of social media?</label
                                >
                            </div>
                            <div class="fields">
                                <select id="iValidation" name="iValidation" class="dropdowncustom">
                                    <option value="" disabled selected>
                                        -- Select a number --
                                    </option>
                                    <script>
                                        for (let i = 1; i <= 5; i++) {
                                            document.write(
                                                `<option value="${i}">${i}</option>`
                                            );
                                        }
                                    </script>
                                </select>
                            </div>
                        </div>

                        <div class="form-rows">
                            <div class="labels">
                                <label for="iDepressed"
                                    >How often do you feel depressed or down?</label
                                >
                            </div>
                            <div class="fields">
                                <select id="iDepressed" name="iDepressed" class="dropdowncustom">
                                    <option value="" disabled selected>
                                        -- Select a number --
                                    </option>
                                    <script>
                                        for (let i = 1; i <= 5; i++) {
                                            document.write(
                                                `<option value="${i}">${i}</option>`
                                            );
                                        }
                                    </script>
                                </select>
                            </div>
                        </div>

                        <div class="form-rows">
                            <div class="labels">
                                <label for="iInterest"
                                    >How frequently does your interest in daily
                                    activities fluctuate?</label
                                >
                            </div>
                            <div class="fields">
                                <select id="iInterest" name="iInterest" class="dropdowncustom">
                                    <option value="" disabled selected>
                                        -- Select a number --
                                    </option>
                                    <script>
                                        for (let i = 1; i <= 5; i++) {
                                            document.write(
                                                `<option value="${i}">${i}</option>`
                                            );
                                        }
                                    </script>
                                </select>
                            </div>
                        </div>

                        <div class="form-rows">
                            <div class="labels">
                                <label for="iSleep"
                                    >How often do you face issues regarding
                                    sleep?</label
                                >
                            </div>
                            <div class="fields">
                                <select id="iSleep" name="iSleep" class="dropdowncustom">
                                    <option value="" disabled selected>
                                        -- Select a number --
                                    </option>
                                    <script>
                                        for (let i = 1; i <= 5; i++) {
                                            document.write(
                                                `<option value="${i}">${i}</option>`
                                            );
                                        }
                                    </script>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="text-center">
                        <button
                            type="submit"
                            class="btn btn-primary"
                            onclick="submitSurvey"
                        >
                            Submit Survey
                        </button>
                        <br />
                        </div>
                        <p id="submittedSurvey"></p>
                        <script>
                            //this should work
                            function submitSurvey() {
                                document.getElementById(
                                    'submittedSurvey'
                                ).innerHTML = 'Thank you for your response.';
                                document.getElementById('surveyForm').reset();
                            }
                        </script>
                        </form>
                        </div>
                    </div>
            </div>
        </div>
        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0"></div>
        </section>
        
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div
                        class="col-lg-6 h-100 text-center text-lg-start my-auto"
                    >
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a href="/">About</a>
                            </li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item">
                                <a href="contact">Contact</a>
                            </li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item">
                                <a href="termsOfUse">Terms of Use</a>
                            </li>
                        </ul>
                        <p
                            class="text-muted small mb-4 mb-lg-0"
                            id="Copyrite"
                        ></p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="https://www.facebook.com/provocity/"
                                    ><i class="bi-facebook fs-3"></i
                                ></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a
                                    href="https://www.youtube.com/@ProvoCityGovernment"
                                    ><i class="bi-youtube fs-3"></i
                                ></a>
                            </li>
                            <li class="list-inline-item">
                                <a
                                    href="https://www.instagram.com/provocity/?hl=en"
                                    ><i class="bi-instagram fs-3"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script>
            function loggedIn() {
                let dDate = new Date();
                dDate = dDate.getFullYear().toString();
                document.getElementById('Copyrite').innerHTML =
                    '&copy; Provo City ' + dDate + '. All Rights Reserved.';

                if (localStorage.getItem('is_admin').includes('true')) {
                    document.getElementById('createacc').style.display =
                        'block';
                    document.getElementById('btnUsers').style.display =
                        'block';
                }

                let fName = localStorage.getItem('first_name');
                let lName = localStorage.getItem('last_name');
                if (!fName) {
                    document.getElementById('btnLogout').style.display = 'none';
                    document.getElementById('createacc').style.display = 'none';
                } else {
                    document.getElementById('loginhref').style.display = 'none';
                    document.getElementById('btnLogout').textContent =
                        'Logout ' + fName + ' ' + lName;
                    document.getElementById('btnLogout').style.display =
                        'block';
                }
            }
            //Get Date Value and Validation Set up for Date Field
            function getDate() {
                let dataDate = new Date();
                dataDate =
                    dataDate.getFullYear().toString() +
                    '-' +
                    (dDate.getMonth() + 1).toString().padStart(2, 0) +
                    '-' +
                    dDate.getDate().toString().padStart(2, 0);
            }
        </script>
    </body>
</html>
