<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>testing</p>
    <label>What type organization are you affiliated with?</label>
    <br>
    <input type="checkbox" id="cbUniversity" name="sOrganization" value="University">
    <label for="cbUniversity">University</label><br>
    <input type="checkbox" id="cbSchool" name="sOrganization" value="School">
    <label for="cbSchool">School</label><br>
    <input type="checkbox" id="cbCompany" name="sOrganization" value="Company">
    <label for="cbCompany">Company</label><br>
    <input type="checkbox" id="cbPrivate" name="sOrganization" value="Private">
    <label for="cbPrivate">Private</label><br>
    <input type="checkbox" id="cbGov" name="sOrganization" value="Government">
    <label for="cbGov">Government</label><br>
    <input type="checkbox" id="cbNA" name="sOrganization" value="N/A">
    <label for="cbNA">N/A</label>
    <br>
    <br>
    <p id="result">Show result here</p>
    <script>
        function myFunction(currRadio) {
            document.getElementById("result").value = currRadio;
        }
    </script>
</body>
</html>